In [1]:
import pandas as pd

In [2]:
rtRev_df = pd.read_csv('rt.reviews.tsv', delimiter='\t', encoding='latin1')
rtRev_df

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
...,...,...,...,...,...,...,...,...
54427,2000,The real charm of this trifle is the deadpan c...,NaN,fresh,Laura Sinagra,1,Village Voice,"September 24, 2002"
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005"
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005"
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003"
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002"

In [3]:
rtRev_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [4]:
rtRev_df.dtypes

id             int64
review        object
rating        object
fresh         object
critic        object
top_critic     int64
publisher     object
date          object
dtype: object

In [5]:
#created new df without all the NaN values in rating column, dropped 13517 rows
cleaned_df = (rtRev_df[rtRev_df['rating'].notna()]).copy()
cleaned_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013"

In [6]:
cleaned_df.shape

(40915, 8)

In [7]:
#created a new df where all the rows have a letter as the value in the rating column
df_letters = rtRev_df[rtRev_df['rating'].isin(['A+','A','A-','B+','B','B-','C+','C','C-','D+','D','D-','F+','F','F-','N','T','R'])].copy()
df_letters.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
6,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
11,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013"
13,3,The anger over the injustice of the financial ...,B,fresh,Robert Roten,0,Laramie Movie Scope,"January 7, 2013"
17,3,Its major problem is that it's not cinematic.,B,fresh,Dennis Schwartz,0,Ozus' World Movie Reviews,"September 25, 2012"
34,3,I don't know if DeLillo's fetishized doubletal...,C,rotten,Vincent Mancini,0,FilmDrunk,"August 30, 2012"

In [8]:
df_letters.shape

(6468, 8)

In [10]:
#used the letters_df to rid the letters from the no-Nan cleaned_df
cleaned_df.drop(cleaned_df[cleaned_df['rating'].isin(df_letters['rating'])].index, inplace=True)
cleaned_df.shape

(34447, 8)

In [11]:
cleaned_df['rating'].unique()

array(['3/5', '2/5', '2/4', '3/4', '4/5', '4/4', '6/10', '1/4', '8',
       '2.5/4', '4/10', '2.0/5', '3/10', '7/10', '5/5', '3.5/4', '1.5/4',
       '3.5/5', '8/10', '9/10', '2.5/5', '7.5/10', '5.5/10', '1.5/5',
       '1/5', '5/10', '0/5', '6', '0.5/4', '3.1/5', '3/6', '4.5/5', '0/4',
       '2/10', '7', '1/10', '3', '4.0/4', '9.5/10', '2.5', '2.1/2',
       '6.5/10', '3.7/5', '8.4/10', '9', '1', '7.2/10', '2.2/5', '0.5/10',
       '5', '0', '2', '4.5', '7.7', '5.0/5', '8.5/10', '3.0/5', '0.5/5',
       '1.5/10', '3.0/4', '2.3/10', '4.5/10', '4/6', '3.5', '8.6/10',
       '6/8', '2.0/4', '2.7', '4.2/10', '5.8', '4', '7.1/10', '5/4',
       '3.5/10', '5.8/10', '4.0/5', '0/10', '5.0/10', '5.9/10', '2.4/5',
       '1.9/5', '4.9', '7.4/10', '1.5', '2.3/4', '8.8/10', '4.0/10',
       '2.2', '3.8/10', '6.8/10', '7.3', '7.0/10', '3.2', '4.2', '8.4',
       '5.5/5', '6.3/10', '7.6/10', '8.1/10', '3.6/5', '2/6', '7.7/10',
       '1.8', '8.9/10', '8.9', '8.2/10', '8.3/10', '2.6/6', '4.1/10',
       '2.5/10', '6.0/10', '1.0/4', '7.9/10', '8.7/10', '4.3/10',
       '9.6/10', '9.0/10', '4.0', '1.7', '7.9', '6.7', '8.0/10', '9.2/10',
       '5.2', '5.9', '3.7', '4.7', '6.2/10', '1/6', '8.2', '2.6/5', '3.4',
       '9.7', '3.3/5', '3.8/5', '1/2', '7.4', '4.8', '1.6/5', '2/2',
       '1-5', '1.0', '4.3/5', '5/6', '9.2', '2.7/5', '4.9/10', '3.0',
       '3.1', '7.8/10', '2.3/5', '3.0/10', '3/2', '7.8', '4.2/5', '9.0',
       '7.3/10', '4.4/5', '6.9/10', '0/6', '6.2', '3.3', '9.8', '8.5',
       '1.0/5', '4.1', '7.1', '3 1/2'], dtype=object)

In [12]:
#get list of string data values from rating column
values = []
for rating_value in cleaned_df['rating']:
    values.append(rating_value)

#partition and convert string values to float, interpreted the 1-5 as 1.5
to_num = []
for item in values:
    if item == '3 1/2':
        to_num.append(3.5)
    elif '/' in item:
        x = item.partition('/')
        to_num.append(float(x[0]))
    elif item == '1-5':
        to_num.append(1.5)
    else:
        to_num.append(float(item))

#rating should be 0-5 so half any ratings that are above 5, overall 3044 ratings over 5
five_rating = []
for element in to_num:
    if element > 5:
        y = element/2
        five_rating.append(y)
    else:
        five_rating.append(element)

#add new column 'cleaned_rating' w cleaned ratings   
cleaned_df['cleaned_rating'] = five_rating
cleaned_df

,id,review,rating,fresh,critic,top_critic,publisher,date,cleaned_rating
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018",3.0
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013",2.0
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013",2.0
14,3,For those who like their Cronenberg thick and ...,3/4,fresh,Marty Mapes,0,Movie Habit,"October 20, 2012",3.0
15,3,For better or worse - often both - Cosmopolis ...,3/5,fresh,Adam Ross,0,The Aristocrat,"September 27, 2012",3.0
...,...,...,...,...,...,...,...,...,...
54424,2000,Dawdles and drags when it should pop; it doesn...,1.5/5,rotten,Manohla Dargis,1,Los Angeles Times,"September 26, 2002",1.5
54428,2000,NaN,1/5,rotten,Michael Szymanski,0,Zap2it.com,"September 21, 2005",1.0
54429,2000,NaN,2/5,rotten,Emanuel Levy,0,EmanuelLevy.Com,"July 17, 2005",2.0
54430,2000,NaN,2.5/5,rotten,Christopher Null,0,Filmcritic.com,"September 7, 2003",2.5
54431,2000,NaN,3/5,fresh,Nicolas Lacroix,0,Showbizz.net,"November 12, 2002",3.0

In [14]:
cleaned_df.cleaned_rating.unique()

array([3.  , 2.  , 4.  , 1.  , 2.5 , 3.5 , 5.  , 1.5 , 4.5 , 3.75, 2.75,
       0.  , 0.5 , 3.1 , 4.75, 2.1 , 3.25, 3.7 , 4.2 , 3.6 , 2.2 , 3.85,
       4.25, 2.3 , 4.3 , 2.7 , 2.9 , 3.55, 2.95, 2.4 , 1.9 , 4.9 , 4.4 ,
       3.8 , 3.4 , 3.65, 3.2 , 3.15, 4.05, 1.8 , 4.45, 4.1 , 4.15, 2.6 ,
       3.95, 4.35, 4.8 , 1.7 , 3.35, 4.6 , 4.7 , 4.85, 3.3 , 1.6 , 3.9 ,
       3.45])

In [22]:
#get the median for new_rating grouped by the movie id, also shows there are 1077 unique values in id column
group = cleaned_df.groupby(['id']).median()
group.drop(['top_critic'], axis=1, inplace=True)
group

      cleaned_rating
id
3               3.00
5               3.00
6               3.00
8               3.00
10              3.00
...              ...
1996            3.00
1997            2.00
1998            3.00
1999            3.00
2000            2.25

[1077 rows x 1 columns]

In [71]:
#merge df with letters rating with the df with the median for new_rating, dropped 47 rows as those 47 had an
#id whose value in the rating (original) was only ever a letter i.e. no way to calculate a median
combined = df_letters.merge(group, how='inner', on='id')
combined

,id,review,rating,fresh,critic,top_critic,publisher,date,cleaned_rating
0,3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013",3.00
1,3,"While not one of Cronenberg's stronger films, ...",B-,fresh,Emanuel Levy,0,EmanuelLevy.Com,"February 3, 2013",3.00
2,3,The anger over the injustice of the financial ...,B,fresh,Robert Roten,0,Laramie Movie Scope,"January 7, 2013",3.00
3,3,Its major problem is that it's not cinematic.,B,fresh,Dennis Schwartz,0,Ozus' World Movie Reviews,"September 25, 2012",3.00
4,3,I don't know if DeLillo's fetishized doubletal...,C,rotten,Vincent Mancini,0,FilmDrunk,"August 30, 2012",3.00
...,...,...,...,...,...,...,...,...,...
6416,2000,If you sometimes like to go to the movies to h...,A,fresh,Edward Havens,0,FilmJerk.com,"October 12, 2002",2.25
6417,2000,"May lack the pungent bite of its title, but it...",C+,fresh,Marshall Fine,0,"Journal News (Westchester, NY)","October 5, 2002",2.25
6418,2000,Wasabi does its job colorfully and entertainin...,C+,fresh,Sean Axmaker,0,Seattle Post-Intelligencer,"October 3, 2002",2.25
6419,2000,"Slight, but colorful and forward-moving... Was...",C+,fresh,Brent Simon,0,Entertainment Today,"September 30, 2002",2.25
6420,2000,"Despite the title, Wasabi isn't so spicy.",C,rotten,NaN,0,E! Online,"September 27, 2002",2.25

In [72]:
combined.cleaned_rating.unique()

array([3.   , 2.   , 2.5  , 4.   , 3.5  , 1.   , 3.25 , 1.75 , 2.75 ,
       2.25 , 4.25 , 2.6  , 5.   , 3.75 , 1.5  , 4.5  , 1.95 , 2.725,
       1.25 , 3.4  , 2.625, 2.375])

In [74]:
#use concat to join cleaned_df (which has the cleaned_rating column) with the combined df (which has 
#median value for letter ratings as cleaned_rating) since combined has rows earlier dropped from cleaned_df
all_data = pd.concat([cleaned_df, combined])
all_data

,id,review,rating,fresh,critic,top_critic,publisher,date,cleaned_rating
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018",3.00
7,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013",2.00
12,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013",2.00
14,3,For those who like their Cronenberg thick and ...,3/4,fresh,Marty Mapes,0,Movie Habit,"October 20, 2012",3.00
15,3,For better or worse - often both - Cosmopolis ...,3/5,fresh,Adam Ross,0,The Aristocrat,"September 27, 2012",3.00
...,...,...,...,...,...,...,...,...,...
6416,2000,If you sometimes like to go to the movies to h...,A,fresh,Edward Havens,0,FilmJerk.com,"October 12, 2002",2.25
6417,2000,"May lack the pungent bite of its title, but it...",C+,fresh,Marshall Fine,0,"Journal News (Westchester, NY)","October 5, 2002",2.25
6418,2000,Wasabi does its job colorfully and entertainin...,C+,fresh,Sean Axmaker,0,Seattle Post-Intelligencer,"October 3, 2002",2.25
6419,2000,"Slight, but colorful and forward-moving... Was...",C+,fresh,Brent Simon,0,Entertainment Today,"September 30, 2002",2.25
6420,2000,"Despite the title, Wasabi isn't so spicy.",C,rotten,NaN,0,E! Online,"September 27, 2002",2.25

In [76]:
rt_df = pd.read_csv('rt.movie_info.tsv', delimiter='\t') 
rt_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [77]:
rt_df.shape

(1560, 12)

In [78]:
rt_df.columns

Index(['id', 'synopsis', 'rating', 'genre', 'director', 'writer',
       'theater_date', 'dvd_date', 'currency', 'box_office', 'runtime',
       'studio'],
      dtype='object')

In [79]:
#merged the all_data df w the rotten tomatoes movie info df on the id column to get genres
w_genres_df = all_data.merge(rt_df, how='left', on='id')
w_genres_df

,id,review,rating_x,fresh,critic,top_critic,publisher,date,cleaned_rating,synopsis,rating_y,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018",3.00,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
1,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013",2.00,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,Christian Toto,0,Big Hollywood,"January 15, 2013",2.00,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
3,3,For those who like their Cronenberg thick and ...,3/4,fresh,Marty Mapes,0,Movie Habit,"October 20, 2012",3.00,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
4,3,For better or worse - often both - Cosmopolis ...,3/5,fresh,Adam Ross,0,The Aristocrat,"September 27, 2012",3.00,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40863,2000,If you sometimes like to go to the movies to h...,A,fresh,Edward Havens,0,FilmJerk.com,"October 12, 2002",2.25,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures
40864,2000,"May lack the pungent bite of its title, but it...",C+,fresh,Marshall Fine,0,"Journal News (Westchester, NY)","October 5, 2002",2.25,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures
40865,2000,Wasabi does its job colorfully and entertainin...,C+,fresh,Sean Axmaker,0,Seattle Post-Intelligencer,"October 3, 2002",2.25,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures
40866,2000,"Slight, but colorful and forward-moving... Was...",C+,fresh,Brent Simon,0,Entertainment Today,"September 30, 2002",2.25,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures
40867,2000,"Despite the title, Wasabi isn't so spicy.",C,rotten,NaN,0,E! Online,"September 27, 2002",2.25,"Suspended from the force, Paris cop Hubert is ...",R,Action and Adventure|Art House and Internation...,NaN,Luc Besson,"Sep 27, 2001","Feb 11, 2003",NaN,NaN,94 minutes,Columbia Pictures

In [80]:
#dropped columns that seemed superfluous, shape = (40868,14)
w_genres_df.drop(labels=['critic','publisher','top_critic','rating_y','dvd_date','studio'],axis=1, inplace=True)
w_genres_df.head()

,id,review,rating_x,fresh,date,cleaned_rating,synopsis,genre,director,writer,theater_date,currency,box_office,runtime
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,"November 10, 2018",3.0,"New York City, not-too-distant-future: Eric Pa...",Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012",$,"600,000",108 minutes
1,3,Cronenberg is not a director to be daunted by ...,2/5,rotten,"April 21, 2013",2.0,"New York City, not-too-distant-future: Eric Pa...",Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012",$,"600,000",108 minutes
2,3,Robert Pattinson works mighty hard to make Cos...,2/4,rotten,"January 15, 2013",2.0,"New York City, not-too-distant-future: Eric Pa...",Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012",$,"600,000",108 minutes
3,3,For those who like their Cronenberg thick and ...,3/4,fresh,"October 20, 2012",3.0,"New York City, not-too-distant-future: Eric Pa...",Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012",$,"600,000",108 minutes
4,3,For better or worse - often both - Cosmopolis ...,3/5,fresh,"September 27, 2012",3.0,"New York City, not-too-distant-future: Eric Pa...",Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012",$,"600,000",108 minutes